# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Server side
# compiled output
server/dist
server/config.ts
server/node_modules
server/build
server/logs
server/*.log
server/npm-debug.log*
server/pnpm-debug.log*
server/yarn-debug.log*
server/yarn-error.log*
server/lerna-debug.log*
server/.DS_Store
server/coverage
server/.nyc_output
server/.idea
server/.project
server/.classpath
server/.c9/
server/*.launch
server/.settings
server/*.sublime-workspace
server/.vscode/*
server/.env
server/.env.development.local
server/.env.test.local
server/.env.production.local
server/.env.local
server/.temp
server/.tmp
server/pids
server/*.pid
server/*.seed
server/*.pid.lock
server/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
